.box{color:#fbc;border-color:#fff}.box div{-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3)}

.newStyle{
   display:inline-blok;
}

.header{
	background-color:#be3da6;
	color:#000000;
}